<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>3ColorResume</title>
  <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
  <!--<link href="/assets/font-awesome.css" rel="stylesheet">-->
  <link href="../stylesheets/main.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="../javascripts/html5shiv.js"></script>
  <script src="../javascripts/respond.min.js"></script>
  <![endif]-->
  <script>
    var callback = function() {
      $('.item-skills').each(function() {
        newWidth = $(this).parent().width() * $(this).data('percent');
        $(this).width(0);
        $(this).animate({
          width: newWidth,
        }, 1000);
      });
      $('.icons-red').each(function() {
        height = $(this).height();
        $(this).animate({
          height: 14,
        }, 2000);
      });
    };
    $(document).ready(callback);

    var resize;
    window.onresize = function() {
      clearTimeout(resize);
      resize = setTimeout(function() {
        callback();
      }, 100);
    };
  </script>

</head>
<body>
<div class="container">
  <div class="row" style="color: lightgray">
    <div class="col-xs-12">
      <div id="photo-header" class="text-center">
        <!-- PHOTO (AVATAR) -->
        <div id="photo">
          <%= image_tag('ProfilePic.jpg') %>
        </div>
        <div id="text-header">
          <h1>Hello,<br> my name is <span>Richard Blankenhorn</span><sup></sup> and this is my resume/cv</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-7">
      <!-- ABOUT ME -->
      <div class="box">
        <h2>Objective</h2>
        <p style="color: lightgray">Highly motivated individual looking to obtain a junior data analyst role under the guide of
        a senior analys.</p>
      </div>
      <!-- EDUCATION -->
      <div class="box">
        <h2>Education</h2>
        <ul id="education" class="clearfix">
          <li>
            <div class="year pull-left">2017</div>
            <div class="description pull-right">
              <h3>Dakota State University</h3>
              <p>Masters in Data Analytics <br>
                <br>Big data analytics utilizing Python, Hadoop/Spark, SQL, R, SAS and statistical
                learning methods. GPA 4.0.</p>
            </div>
          </li>
          <li>
            <div class="year pull-left">2016</div>
            <div class="description pull-right">
              <h3>DaVinci Coders</h3>
              <p>Building the toolbelt of a junior Ruby on Rails developer through proficient comprehension of Ruby,
                Ruby on Rails, Agile, GIT, RSpec, TDD, Guard, MVC and associated Rails technology</p>
            </div>
          </li>
          <li>
            <div class="year pull-left">2006</div>
            <div class="description pull-right">
              <h3>University of Missouri - Columbia</h3>
              <p>BSBA Finance</p>
            </div>
          </li>
          <!--<li>
            <div class="year pull-left">2001</div>
            <div class="description pull-right">
              <h3>Westminster Christian Academy</h3>
              <p>High School</p>
            </div>
          </li>-->
        </ul>
      </div>
      <!-- DEV TOOLS -->
      <div class="box" style="color: lightgray">
        <h2>Dev Tools</h2>
        <div id="language-skills">
          <div class="skill">RubyMine, PyCharm, SQL Developer, R Studio, SAS Studio, SAS Enterprise Miner
            <div class="icons pull-right">
              <div style="width: 80%;" class="icons-red"></div>
            </div>
          </div>
          <div class="skill">Shell/CL, Git, GitHub, Git Branching
            <div class="icons pull-right">
              <div class="icons-red"></div>
            </div>
          </div>
          <div class="skill">Pivotal Tracker, Agile, Data Mining
            <div class="icons pull-right">
              <div class="icons-red"></div>
            </div>
          </div>
          <div class="skill">TDD, RSpec
            <div class="icons pull-right">
              <div class="icons-red"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- EXPERIENCES -->
      <div class="box" style="margin-top: 27px">
        <h2>Experiences</h2>
        <div class="job clearfix">
          <div class="col-xs-3">
            <div class="where">DaVinci Coders - Instructor Jason Noble</div>
          </div>
          <div class="col-xs-9">
            <div class="profession">Ruby on Rails</div>
            <br>
            <div class="description">Completed a 13 week intensive course covering Ruby on Rails and various Rails
              technology.<br>
              <br>
              The course focused on git, github, git branching and the development process with regard to Rails app
              development. In addition, the beginning of the course emphasized command line proficiency and the
              relationship with app development.<br>
              <br>
              The second portion of the course focused on Ruby syntax, methods, arrays, classes and proper Ruby
              formatting. Throughout the course, we utilized Pivotal Tracker to keep track of homework assignments and
              frequently opened pull requests so that mentors and students could review our work. We also built a number
              of in-class projects including a TDD designed shopping cart to allow shoppers to add products to their
              cart, checkout and receive an email about the order.<br>
              <br>
              Towards the end of the course, we pair programmed on group projects and created Pivotal Tracker stories
              to help organize our work. It was during our group project that I began to appreciate the git branching
              strategies that we had previously covered. This experience also provided valuable insight with regard to
              the importance of communication and collaboration when developing apps. The app in question is Pair Up and
              is detailed below in the Projects section.
            </div>
          </div>
        </div>
        <div class="job clearfix">
          <div class="col-xs-3">
            <div class="where">Scottrade Inc</div>
          </div>
          <div class="col-xs-9">
            <div class="profession">Financial Services Representative I & II</div>
            <br>
            <div class="description">
              My time at Scottrade has taught me the importance of effective communication, leadership and teamwork. As with most jobs,
              each day presents new issues and challenges. There are times when you will not know the answer to a question asked or how to solve a clients given
              problem. However, employees are encouraged to ask questions, obtain assistance and seek guidance at all times.
              In addition, my fellow employees are always there and willing to help in any way possible. Over the years I have
              witnessed how effective and important this culture is and how it leads to an excellent customer experience. I look
              forward to taking this mentality and practice in to a junior development role with the goal of making a lasting
              impact. <br>
              <br>
              In addition, my time at Scottrade has provide me the opportunity to act as a mentor and help my peers develop in their roles.
              I have been privileged to develop new learning techniques, provide one on one role play training, act as a point
              of reference, pass on what I have learned and lead by example. After gaining experience in the development field,
              my goal is to once again act as a mentor to junior developers and help them develop in their roles.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5">
      <!-- CONTACT -->
      <div class="box clearfix">
        <h2>Contact</h2>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-phone fa-fw"></span></div>
          <div class="title only pull-right">314-712-2355</div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
          <div class="title only pull-right">rsbnq6@yahoo.com</div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-github fa-fw"></span></div>
          <div class="title only pull-right"><%= link_to 'GitHub', 'https://github.com/RichardBlankenhorn', target: '_blank' %></div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-linkedin fa-fw"></span></div>
          <div class="title only pull-right"><%= link_to 'LinkedIN', 'https://www.linkedin.com/in/richard-blankenhorn-68210790', target: '_blank' %></div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-code fa-fw"></span></div>
          <div class="title only pull-right"><%= link_to 'CodeEval', 'https://www.codeeval.com/profile/rblank25/', target: '_blank' %></div>
        </div>
      </div>
      <!-- RESUME -->
      <div class="box clearfix">
        <h2>Resume</h2>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-download fa-fw"></span></div>
          <div class="title only pull-right"><%= link_to 'Download Resume', pdf_path(format('pdf')) %></div>
        </div>
      </div>
      <!-- SKILLS -->
      <div class="box">
        <h2>Skills</h2>
        <div class="skills">
          <div class="item-skills" data-percent="0.60">R</div>
          <div class="item-skills" data-percent="0.50">Python</div>
          <div class="item-skills" data-percent="0.45">SAS</div>
          <div class="item-skills" data-percent="0.35">Ruby</div>
          <div class="item-skills" data-percent="0.30">SQL</div>
          <div class="item-skills" data-percent="0.30">CSS</div>
          <div class="item-skills" data-percent="0.30">HTML</div>
          <div class="skills-legend clearfix">
            <div class="legend-left legend">Beginner</div>
            <div class="legend-left legend"><span>Proficient</span></div>
            <div class="legend-right legend"><span>Expert</span></div>
            <div class="legend-right legend">Master</div>
          </div>
        </div>
      </div>
      <!-- LANGUAGES -->
      <!-- HOBBIES
      <div class="box">
        <h2>Hobbies</h2>
        <div class="hobby">Programming</div>
        <div class="hobby">Snowboarding</div>
        <div class="hobby">Cycling</div>
        <div class="hobby">Futbol</div>
        <div class="hobby">Camping</div>
        <div class="hobby">Hiking - 14ers</div>
      </div>-->
      <!-- WORK EXPERIENCE -->
      <div class="box">
        <h2>Work History</h2>
        <div class="job clearfix">
          <div class="col-xs-3">
            <div class="where">Scottrade, Inc</div>
            <div class="year">2011 - Present</div>
          </div>
          <div class="col-xs-9">
            <div class="profession">Financial Services Rep II</div>
            <br>
            <div class="description">Worked as an FSR II with Scottrade, Inc.
                Analyze and implement option expiration reports to mitigate risk to the firm.
                  Involves thorough understanding of margin call risk, buying power calculations and risk impact to the
                  client as well as the firm.<br><br>
                Research and analyze impact to clients tax situation due to mandatory
                  reorganizations including mergers, splits and spinoffs. Assist clients with cost basis calculations and
                  overall impact to their form 1099.<br><br>
                Develop and implement effective learning methods to prepare new broker trainees with their
                  series 7 and 63 exams. Act as point of reference and provide on the job training to provide new hires
                  with a better understanding of their roles.<br><br>
                Provide support to customers through email, chat and phones.
            </div>
          </div>
        </div>
        <div class="job clearfix">
          <div class="col-xs-3">
            <div class="where">Scottrade Inc</div>
            <div class="year">2009 - 2011</div>
          </div>
          <div class="col-xs-9">
            <div class="profession">Financial Services Rep I</div>
            <br>
            <div class="description">
                Assist clients with meeting their financial goals by providing a better understanding of financial
                products and investment risks.<br><br>
                Provie clients witha  better understanding of our online tools and resources.<br><br>
                Assist clients via phone, chat and e-mail with opening accounts, placing trades, deposits and
                account navigation. Answer general questions related to investment product availability, account services
                tax preparation and firm policy.
            </div>
          </div>
        </div>
        <div class="job clearfix">
          <div class="col-xs-3">
            <div class="where">Scottrade Inc</div>
            <div class="year">2006 - 2009</div>
          </div>
          <div class="col-xs-9">
            <div class="profession">Mutual Funds Networking</div>
            <br>
            <div class="description">
                Run daily reports for mutual fund transfers, networking and reconciliation.<br><br>
                Facilitate transfers between Scottrade and mutual fund companies. Assist branch network and service
                center with mutual fund trades, fund requirements, product availability, internal transfers and mutual
                fund networking.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- PROJECTS -->
  <div class="row" style="color: lightgray">
    <div class="col-xs-12">
      <div class="box">
        <h2>Projects</h2>
        <p>This is a list of some of the projects I have worked on as part of my DaVinci Coders course and as part of my
          masters program in data analytics</p>
        <div class="job clearfix">
          <div class="col-xs-3">
            <div class="where">- DaVinci Coders</div>
            <div class="year">Ruby on Rails</div>
          </div>
          <div class="col-xs-8">
            <div class="profession">Pair Up</div>
            <div class="description">Pair Up was designed to cater to students needing to connect with other students
              in order to study or work together. Through the Pair Up app, students may open an account, set their time availability
              and then view a list of students who have similar time availability.The students can then send each
              other messages (stored in a database) and schedule a time to pair up!
            </div>
          </div>
        </div>
        <div class="job clearfix">
          <div class="col-xs-12">
            <a class="fancybox" style="margin-right: 10px" rel="gallery1" href="<%= asset_url('LogInPage.png') %>" title="Pair Up Login Page">
              <!--<img src="/assets/LogInPage.png" width="30%" alt=""/>-->
              <%= image_tag('LogInPage.png', width: '30%', alt:"") %>
            </a>
            <a class="fancybox" style="margin-right: 10px" rel="gallery1" href="<%= asset_url('PairUpHome.png') %>" title="Pair Up Landing Page">
              <!--<img src="/assets/PairUpHome.png" width="30%" alt=""/>-->
              <%= image_tag('PairUpHome.png', width: '30%', alt:"") %>
            </a>
            <a class="fancybox" rel="gallery1" href="<%= asset_url('CreateAcctPage.png') %>" title="Pair Up Create Account Page">
              <!--<img src="/assets/CreateAcctPage.png" width="30%" alt=""/>-->
              <%= image_tag('CreateAcctPage.png', width: '30%', alt:"") %>
            </a>
          </div>
          <div class="col-xs-12" style="margin-top: 12px">
            <a class="fancybox" style="margin-right: 10px" rel="gallery1" href="<%= asset_url('MyMessages.png') %>" title="View My Messages Page">
              <!--<img src="/assets/MyMessages.png" width="30%" alt=""/>-->
              <%= image_tag('MyMessages.png', width: '30%', alt:"") %>
            </a>
            <a class="fancybox" style="margin-right: 10px" rel="gallery1" href="<%= asset_url('NewMessage.png') %>" title="Create New Message Page">
              <!--<img src="/assets/NewMessage.png" width="30%" alt=""/>-->
              <%= image_tag('NewMessage.png', width: '30%', alt:"") %>
            </a>
            <a class="fancybox" style="margin-right: 10px" rel="gallery1" href="<%= asset_url('NewTimeSlot.png') %>" title="Create New TimeSlot Page">
              <!--<img src="/assets/NewTimeSlot.png" width="30%" alt=""/>-->
              <%= image_tag('NewTimeSlot.png', width: '30%', alt:"") %>
            </a>
          </div>
        </div>
        <div class="job clearfix">
          <div class="col-xs-3">
            <div class="where">- Dakota State University</div>
            <div class="year">Python (BeautifulSoup)</div>
            <div class="year">
              <%= link_to 'Python IMDB Project', 'https://github.com/RichardBlankenhorn/Assign_2', target: '_blank' %>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="profession">IMDB Web Scrapping</div>
            <div class="description">As part of my programming for data analytics course, we were required to create a
              program that allows for the input of a year range along with the number of desired movies. The program
              would then generate URLs for the IMDB website based upon the yearly range and number of movies. The details
              for all of the movies were then added to a JSON file in addition to an CSV file.
              The program utilized the BeautifulSoup package in Python.
            </div>
          </div>
        </div>
        <div class="job clearfix">
          <div class="col-xs-3">
            <div class="where">- Dakota State University</div>
            <div class="year">Python</div>
            <div class="year">
              <%= link_to 'Python Stock Twit Project', 'https://github.com/RichardBlankenhorn/Project_1', target: '_blank' %>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="profession">Stock Tweet Analysis</div>
            <div class="description">For this project, I created a program to read stock twits from a JSON file in to a
              list of dictionaries. Once the dictionaries were obtained, the date/time, content and user-assigned sentiment
              were extracted from each tweet. For each tweet, all punctuation was removed, the body was converted to
              ASCII format and timestamps were converted to date/time strings. In addition, unknown sentiment values
              were replaced with null values.
              Sentiment analysis was conducted for tweets with no user-assigned sentiment by utilizing text files
              containing positive and negative words. Once sentiment analysis was completed, all tweets were organized
              in to positive, negative and neutral dictionaries along with the number of tweets in each dictionary.
              Results were displayed through Matplotlib by drawing pie charts and line charts.
            </div>
          </div>
          </div>
          <div class="job clearfix">
            <div class="col-xs-3">
              <div class="where">- Dakota State University</div>
              <div class="year">R and R Markdown</div>
              <div class="year">
                <%= link_to 'Kosovo Migration Analysis', 'https://github.com/RichardBlankenhorn/Kosovo_Migration', target: '_blank' %>
              </div>
            </div>
            <div class="col-xs-8">
              <div class="profession">Kosovo Migration Analysis</div>
              <div class="description">The goal of this analysis is to provide evidence in favor of or against the
                argument that the NATO bombing campaign caused a large number of individuals to flee their homes and
                country. The data sets used in this analysis were obtained from the HRDAG website at
                https://hrdag.org/kosovo-data/. The data consists of several migration data sets along, NATO airstrike
                activity, KLA activity and pcodes for the various municipalities.
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- JQUERY -->
<script src="../javascripts/jquery.min.js"></script>
<!-- BOOTSTRAP -->
<script src="../javascripts/bootstrap.min.js"></script>
<!-- SCRIPTS -->
<script src="../javascripts/scripts.js"></script>
</body>
</html>
