<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>3ColorResume</title>
  <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
  <!--<link href="/assets/font-awesome.css" rel="stylesheet">-->
  <link href="../stylesheets/main.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="../javascripts/html5shiv.js"></script>
  <script src="../javascripts/respond.min.js"></script>
  <![endif]-->
  <script>
    var callback = function() {
      $('.item-skills').each(function() {
        newWidth = $(this).parent().width() * $(this).data('percent');
        $(this).width(0);
        $(this).animate({
          width: newWidth,
        }, 1000);
      });
      $('.icons-red').each(function() {
        height = $(this).height();
        $(this).animate({
          height: 14,
        }, 2000);
      });
    };
    $(document).ready(callback);

    var resize;
    window.onresize = function() {
      clearTimeout(resize);
      resize = setTimeout(function() {
        callback();
      }, 100);
    };
  </script>

</head>
<body style="margin-top: 70px; margin-bottom: 70px">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="photo-header" class="text-center">
        <!-- PHOTO (AVATAR) -->
        <div id="photo">
          <%= image_tag('ProfilePic.jpg') %>
        </div>
        <div id="text-header">
          <h1>Hello,<br> my name is <span>Richard Blankenhorn</span><sup></sup> and this is my resume/cv</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-7">
      <!-- ABOUT ME -->
      <div class="box">
        <h2>Objective</h2>
        <p>Highly motivated individual looking to obtain a junior developer role under the guide of a mentor or senior
          developer. I thoroughly enjoy web development and am constantly looking to enhance my knowledge base, learn
          new languages and grow as a developer.</p>
      </div>
      <!-- EDUCATION -->
      <div class="box">
        <h2>Education</h2>
        <ul id="education" class="clearfix">
          <li>
            <div class="year pull-left">2017</div>
            <div class="description pull-right">
              <h3>Dakota State University</h3>
              <p>Big data analytics utilizing Python, Hadoop/Spark, SQL, R, SAS and statistical methods. GPA 4.0.</p>
            </div>
          </li>
          <li>
            <div class="year pull-left">2016</div>
            <div class="description pull-right">
              <h3>DaVinci Coders</h3>
              <p>Building the toolbelt of a junior Ruby on Rails developer through proficient comprehension of Ruby,
                Ruby on Rails, Agile, GIT, RSpec, TDD, Guard, MVC and associated Rails technology</p>
            </div>
          </li>
          <li>
            <div class="year pull-left">2006</div>
            <div class="description pull-right">
              <h3>University of Missouri - Columbia</h3>
              <p>BSBA Finance</p>
            </div>
          </li>
          <li>
            <div class="year pull-left">2001</div>
            <div class="description pull-right">
              <h3>Westminster Christian Academy</h3>
              <p>High School</p>
            </div>
          </li>
        </ul>
      </div>
      <!-- EXPERIENCES -->
      <div class="box">
        <h2>Experiences</h2>
        <div class="job clearfix">
          <div class="col-xs-3">
            <div class="where">DaVinci Coders</div>
            <div class="year">Feb 2015 - May 2015</div>
          </div>
          <div class="col-xs-9">
            <div class="profession">Ruby on Rails</div>
            <div class="description">Completed 13 week intensive course covering Ruby on Rails and various Rails
              technology.
              The course focused on git, github and the development process with regard to Rails app development. Pair
              programmed on a project to develop an app called Pair Up. Through the Pair Up app, which is designed for
              students, students may open an account, set their time availability and are paired up with other students
              who have similar time availability. The students can then send each other messages (stored in a database)
              and schedule a time to Pair Up!
            </div>
          </div>
        </div>
        <div class="job clearfix">
          <div class="col-xs-3">
            <div class="where">Scottrade Inc</div>
            <div class="year">2011 - Present</div>
          </div>
          <div class="col-xs-9">
            <div class="profession">Financial Services Representative II</div>
            <div class="description">Analyze and implement option expiration reports to mitigate risk to the firm.
              Involves thorough understanding of margin call risk, buying power calculations and risk impact to the
              client as well as the firm. Research and analyze impact to clients tax situation due to mandatory
              reorganizations
              including mergers, splits and spinoffs. Assist clients with cost basis calculations and overall impact to
              their
              form 1099. Develop and implement effective learning methods to prepare new broker trainees with their
              series 7
              and 63 exams. Act as point of reference and provide on the job training to provide new hires with a better
              understanding of their roles.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5">
      <!-- CONTACT -->
      <div class="box clearfix">
        <h2>Contact</h2>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-phone fa-fw"></span></div>
          <div class="title only pull-right">314-712-2355</div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
          <div class="title only pull-right">rsbnq6@yahoo.com</div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-github fa-fw"></span></div>
          <div class="title only pull-right"><%= link_to 'GitHub', 'https://github.com/RichardBlankenhorn', target: '_blank' %></div>
        </div>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-linkedin fa-fw"></span></div>
          <div class="title only pull-right"><%= link_to 'LinkedIN', 'https://www.linkedin.com/in/richard-blankenhorn-68210790', target: '_blank' %></div>
        </div>
      </div>
      <!-- RESUME -->
      <div class="box clearfix">
        <h2>Resume</h2>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-download fa-fw"></span></div>
          <div class="title only pull-right"><%= link_to 'Download Resume', pdf_path(format('docx')) %></div>
        </div>
      </div>
      <!-- MESSAGE -->
      <div class="box clearfix">
        <h2>Send me a message!</h2>
        <div class="contact-item">
          <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
          <div class="title only pull-right"><%= link_to 'Send Message', contact_path %></div>
        </div>
      </div>
      <!-- SKILLS -->
      <div class="box">
        <h2>Skills</h2>
        <div class="skills">
          <div class="item-skills" data-percent="0.50">Ruby on Rails</div>
          <div class="item-skills" data-percent="0.40">Python</div>
          <div class="item-skills" data-percent="0.30">HTML</div>
          <div class="item-skills" data-percent="0.30">CSS</div>
          <div class="item-skills" data-percent="0.25">SQL</div>
          <div class="item-skills" data-percent="0.20">C#</div>
          <div class="skills-legend clearfix">
            <div class="legend-left legend">Beginner</div>
            <div class="legend-left legend"><span>Proficient</span></div>
            <div class="legend-right legend"><span>Expert</span></div>
            <div class="legend-right legend">Master</div>
          </div>
        </div>
      </div>
      <!-- LANGUAGES -->
      <div class="box">
        <h2>Dev Tools</h2>
        <div id="language-skills">
          <div class="skill">RubyMine, PyCharm, SQL Developer
            <div class="icons pull-right">
              <div style="width: 80%;" class="icons-red"></div>
            </div>
          </div>
          <div class="skill">Git, GitHub
            <div class="icons pull-right">
              <div style="width: 60%;" class="icons-red"></div>
            </div>
          </div>
          <div class="skill">Pivotal Tracker
            <div class="icons pull-right">
              <div style="width: 60%;" class="icons-red"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- HOBBIES -->
      <div class="box">
        <h2>Hobbies</h2>
        <div class="hobby">Programming</div>
        <div class="hobby">Snowboarding</div>
        <div class="hobby">Cycling</div>
        <div class="hobby">Futbol</div>
      </div>
    </div>
  </div>
  <!-- PROJECTS -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <h2>Projects</h2>
        <p>This is a list of all of the projects I have worked in through my DaVinci Coders course and as part of my
          masters program
          in data analytics</p>
        <div class="job clearfix">
          <div class="col-xs-3">
            <div class="where">DaVinci Coders</div>
          </div>
          <div class="col-xs-8">
            <div class="profession">Pair Up</div>
            <div class="description">Completed 13 week intensive course covering Ruby on Rails and various Rails
              technology.
              The course focused on git, github and the development process with regard to Rails app development. Pair
              programmed on a project to develop an app called Pair Up. Through the Pair Up app, which is designed for
              students, students may open an account, set their time availability and are paired up with other students
              who have similar time availability. The students can then send each other messages (stored in a database)
              and schedule a time to Pair Up!
            </div>
          </div>
        </div>
        <div class="job clearfix">
          <div class="col-xs-12">
            <a class="fancybox" style="margin-right: 10px" rel="gallery1" href="/assets/LogInPage.png" title="Pair Up Login Page">
              <img src="/assets/LogInPage.png" width="30%" alt=""/>
            </a>
            <a class="fancybox" style="margin-right: 10px" rel="gallery1" href="/assets/PairUpHome.png" title="Pair Up Landing Page">
              <img src="/assets/PairUpHome.png" width="30%" alt=""/>
            </a>
            <a class="fancybox" rel="gallery1" href="/assets/CreateAcctPage.png" title="Pair Up Create Account Page">
              <img src="/assets/CreateAcctPage.png" width="30%" alt=""/>
            </a>
          </div>
          <div class="col-xs-12" style="margin-top: 12px">
            <a class="fancybox" style="margin-right: 10px" rel="gallery1" href="/assets/MyMessages.png" title="View My Messages Page">
              <img src="/assets/MyMessages.png" width="30%" alt=""/>
            </a>
            <a class="fancybox" style="margin-right: 10px" rel="gallery1" href="/assets/NewMessage.png" title="Create New Message Page">
              <img src="/assets/NewMessage.png" width="30%" alt=""/>
            </a>
            <a class="fancybox" style="margin-right: 10px" rel="gallery1" href="/assets/NewTimeSlot.png" title="Create New TimeSlot Page">
              <img src="/assets/NewTimeSlot.png" width="30%" alt=""/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- JQUERY -->
<script src="../javascripts/jquery.min.js"></script>
<!-- BOOTSTRAP -->
<script src="../javascripts/bootstrap.min.js"></script>
<!-- SCRIPTS -->
<script src="../javascripts/scripts.js"></script>
</body>
</html>
